<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet"  href="{{ url_for('static', filename='styleTab.css')}}">
    <title>Página de Atualização</title>
</head>

<div>
    {% include 'sidebar.html' %}
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>


<body>
    <form action="" method="POST">
        <section class="ftco-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-wrap">
                            <h1>Página de edição de atividade</h1>
                            <table class="table">
                            <thead class="thead-primary">
                              <tr>
                                <th>Nome da atividade</th>
                                <td scope="row" class="scope" ><input type="text" name="nome" value="{{atividade.nome}}"></td>
                              </tr> 
                              <tr>
                                <th>Carga (Kg)</th>
                                <td scope="row" class="scope"><input type="text" name="carga" value="{{atividade.carga}}"></td>  
                              </tr>
                              <tr>
                                <th>Séries</th>
                                <td scope="row" class="scope"><input type="text" name="series" value="{{atividade.series}}"></td>  
                              </tr>
                              <tr>
                                <th>Repetições</th>
                                <td scope="row" class="scope"><input type="text" name="repeticoes" value="{{atividade.repeticoes}}"></td>  
                              </tr>
                            </thead>
                            <tbody>
                                <tr> 
                                    <td></td>
                                    <td><input type="submit" value="Atualizar dados"></a></td>
                                </tr>
                            </tbody>
                     
                          </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</body>
</html>

