<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet"  href="{{ url_for('static', filename='styleTab.css')}}">
    <title>Atividades do treino</title>
</head>

<div>
    {% include 'sidebar.html' %}
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>


<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
                        <h1>Atividades do treino de {{treino.nome}}</h1>
						<table class="table">
					    <thead class="thead-primary">
					      <tr>
					        <th>Nome</th>
					        <th>Carga (Kg)</th>
					        <th>Séries</th>
                            <th>Repetições</th>
                            <th>Editar</th>
					        <th>Excluir</th>
					      </tr>
					    </thead>
					    <tbody>
                            {% for atividade in atividades%}
                            <tr>
                                <th scope="row" class="scope" >{{atividade.nome}}</th>
                                <td scope="row" class="scope">{{atividade.carga }}</td>
                                <td scope="row" class="scope">{{atividade.series }}</td>
                                <td scope="row" class="scope">{{atividade.repeticoes }}</td>
                                <td><a href="/atualizarAtividadesTreino/{{atividade._id}}"><i class='bx bx-edit icon'></i></a></td>
                                <td><a href="/excluirAtvTreino/{{atividade._id}}"><i class='bx bx-trash icon'></i></a></td>
                                 
                            </tr>
                            {%endfor%}
					    </tbody>
					  </table>
					</div>
				</div>
			</div>
		</div>
	</section>
    
    <hr>

    <form action="/listarTreino/{{treino._id}}" action="" method="POST">
        <section class="ftco-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-wrap">
                            <h1>Adicionar atividade ao treino</h1>
                            <table class="table">
                            <thead class="thead-primary">
                              <tr>
                                <th>Nome da atividade</th>
                                <td scope="row" class="scope" ><input type="text" name="nome"></td>
                              </tr> 
                              <tr>
                                <th>Carga (Kg)</th>
                                <td scope="row" class="scope"><input type="text" name="carga"></td>  
                              </tr>
                              <tr>
                                <th>Séries</th>
                                <td scope="row" class="scope"><input type="text" name="series"></td>  
                              </tr>
                              <tr>
                                <th>Repetições</th>
                                <td scope="row" class="scope"><input type="text" name="repeticoes"></td>  
                              </tr>
                            </thead>
                            <tbody>
                                <tr> 
                                    <td></td>
                                    <td><input type="submit" value="Atualizar dados"></a></td>
                                </tr>
                            </tbody>
                     
                          </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</body>
</html>