<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet"  href="{{ url_for('static', filename='style.css')}}">
    <title>Atividades do treino</title>
</head>
<body>
    <h1>Lista de Treinos</h1>
    <hr>

    <table border="4">
        <tr>
            <td>Nome</td>
            <td>Carga</td>
            <td>Series</td>
            <td>Repetições</td>
        </tr>
        {% for atividade in atividades%}
        <tr>
            <td>{{atividade.nome}}</td>
            <td>{{atividade.carga }}</td>
            <td>{{atividade.series}}</td>
            <td>{{atividade.repeticoes}}</td>
        </tr>
        {%endfor%}
    </table>

    <h1>Atividades do treino de {{treino.nome}}</h1>
    <hr>

    <form action="/listarTreino/{{treino._id}}" method="POST">
        <table>
            <tr>
                <td>Nome</td>
                <td><input type="text" name="nome"></td>
            </tr>
            <tr>
                <td>Carga</td>
                <td><input type="number" name="carga"></td>
            </tr>
            <tr>
                <td>Series</td>
                <td><input type="number" name="series"></td>
            </tr>
            <tr>
                <td>Repetições</td>
                <td><input type="number" name="repeticoes"></td>
            </tr>
        </table><br>
        <input type="submit" value="Adicionar">

    </form>
</body>
</html>