<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet"  href="{{ url_for('static', filename='style.css')}}">
    <title>Novo Treino</title>
</head>

<div>
    {% include 'sidebar.html' %}
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>

<body>
    <h1>Novo Treino</h1>
    <hr>
    <form action="{{ url_for('novoTreino') }}" method="POST">
        <table>
            <tr>
                <td>Nome</td>
                <td><input type="text" name="nome"></td>
            </tr>
            <tr>
                <td>Data</td>
                <td><input type="date" name="data"></td>
            </tr>
        </table><br>
        <input type="submit" value="Adicionar">

    </form>
    <a href="/index">Voltar</a>
</body>
</html>