<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfico de Treinos</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet"  href="{{ url_for('static', filename='styleTab.css')}}">
</head>

<div>
    {% include 'sidebar.html' %}
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>

<body>
    <section class="ftco-section">
        <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="table-wrap">
            <h1>Treinos por Mês</h1>
                <table class="table">
                
                    <tr> 
                    <label for="anoSelect">Selecione o Ano: </label>
                    <select id="anoSelect" onchange="carregarDados()"></select>
                    <canvas id="graficoTreinos"></canvas>
                    </tr>

                    <tr>  
                    <label for="atividadeSelect">Selecione a Atividade:</label>
                    <select id="atividadeSelect" onchange="carregarDados1()"></select>
                    <canvas id="graficoCargas"></canvas>
                    </tr>

                </table>
            </div>
            </div>
        </div>
        </div>
    </section>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
