<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet"  href="{{ url_for('static', filename='style.css')}}">
    <title>Página inicial</title>
</head>
<body>
    <h1>Cadastro de clientes</h1>
    <hr>
    <a href="{{url_for('cadastrar')}}">Cadastrar Clientes</a>
    <a href="{{url_for('lista')}}">Lista de Clientes</a>
    <a href="{{url_for('listaDeTreinos')}}">Lista de Treinos</a>
    <a href="{{url_for('cadastrarAtividadePagina')}}">Cadastrar Atividade</a>
    <a href="{{url_for('novoTreinoPagina')}}">Cadastrar Treino</a>
    <form action="{{ url_for('logout') }}" method="get">
        <button type="submit">Sair</button>
    </form>
</body>
</html>