<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet"  href="{{ url_for('static', filename='style.css')}}">
    <title>Lista de Clientes</title>
</head>
<body>
    <h1>Lista e Clientes</h1>
    <hr>

    <table border="4">
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Telefone</td>
            <td>CPF</td>
            <td>E-mail</td>
            <td>Excluir</td>
            <td>Atualizar</td>
        </tr>
        {% for pessoa in pessoas%}
        <tr>
            <td>{{pessoa._id }}</td>
            <td>{{pessoa.nome }}</td>
            <td>{{pessoa.telefone }}</td>
            <td>{{pessoa.cpf }}</td>
            <td>{{pessoa.email }}</td>
            <td><a href="/excluir/{{pessoa._id}}">X</a></td>
            <td><a href="/atualizar/{{pessoa._id}}">Atualizar</a></td>
        </tr>
        {%endfor%}
    </table>
    <a href="{{url_for('cadastrar')}}">Adicionar exercício</a>
    <a href="/index">Voltar</a>
</body>
</html>