<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='styleSideBar.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav class="sidebar">
        <header>
             <div class="text header-text">
                <span class="name">TP</span>
                <span class="name">SISWEB</span>
             </div>
        </header>

        <div class="menu-bar">
            <div class="menu">
 
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{{ url_for('index') }}">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Dash</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for('exibir_grafico') }}">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{url_for('novoTreinoPagina')}}">
                            <i class='bx bx-list-plus icon'></i>
                            <span class="text nav-text">Novo treino</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{url_for('listaDeTreinos')}}">
                            <i class='bx bx-dumbbell icon'></i>
                            <span class="text nav-text">Treinos</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{url_for('listaVideos')}}">
                            <i class='bx bx-book-alt icon'></i>
                            <span class="text nav-text">Vídeos</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{url_for('videos')}}">
                            <i class='bx bx-upload icon'></i>
                            <span class="text nav-text">Upload de Vídeos</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="{{ url_for('logout') }}" method="get">
                        <i class='bx bx-log-out icon'></i>
                        <span type="submit" class="text nav-text">Sair</span>
                    </a>
                </li>
            </div>
        </div>
    </nav:sidebar>
</body>
</html>